@using ClimateDatabase.Data.Models
@inject UserManager<ApplicationUser> UserManager

<div class="dashb-01-sidebar sidebar-dark custom-scrollbar">
    <div class="dashb-01-sidebar-content">

        <!-- User -->
        <div class="dashb-user">

            <div class="image logo">
                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                    <img src="~/img/cd_logo_white.png" alt="ClimateDatabase">
                </a>
            </div>

            <div class="dashb-user-heading">
                <div class="name"> @this.UserManager.GetUserName(this.User)</div>
                @*<div class="post">Company founder</div>*@
            </div>

        </div>
        <!-- /User -->
        <!-- Navigation -->
        <ul class="dashb-sidebar-navigation dashb-sidebar-navigation-custom open list-animated"
            data-list-delay="0.0" data-list-delay-step=".03" data-list-items="lst-nav-level-0">

            <!-- Navigation Item -->
            <li>
                <a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-showPage="1" asp-route-pageSize="20" class="nav-item btn-waves">
                    <i class="icon fa fa-user"></i>
                    <span class="list-animated-item" data-list-name="lst-nav-level-0">Users</span>
                </a>
            </li>
            <!-- /Navigation Item -->
            <li class="separator"></li>

            <!-- Navigation Item -->
            <li>
                <a asp-area="Admin" asp-controller="ClimateStations" asp-action="Index" asp-route-showPage="1" asp-route-pageSize="20" class="nav-item btn-waves">
                    <i class="icon fa fa-globe"></i>
                    <span class="list-animated-item" data-list-name="lst-nav-level-0">Climate stations</span>
                </a>
            </li>
            <!-- /Navigation Item -->
            <!-- Navigation Item -->
            <li>
                <a asp-area="Admin" asp-controller="ClimateStationReadings" asp-action="Index" asp-route-showPage="1" asp-route-pageSize="20" class="nav-item btn-waves">
                    <i class="icon fa fa-thermometer"></i>
                    <span class="list-animated-item" data-list-name="lst-nav-level-0">Climate station readings</span>
                </a>
            </li>
            <!-- /Navigation Item -->
            <!-- Navigation Item -->
            <li>
                <a asp-area="Admin" asp-controller="ClimateStationWeights" asp-action="Index" class="nav-item btn-waves">
                    <i class="icon fa fa-balance-scale"></i>
                    <span class="list-animated-item" data-list-name="lst-nav-level-0">Edit climate station weights</span>
                </a>
            </li>
            <!-- /Navigation Item -->

        </ul>
        <!-- /Navigation -->

    </div>
</div>
