@{
    ViewBag.Title = "Edit climate station weights";
    Layout = "_Layout";
}

<partial name="_StatusMessage" model="ViewBag.Alert" />

<div class="page-intro">
    <h2>Climate station weights</h2>
</div>

<partial name="_Navigation" />
